:root
{
    --primary-color: #60A5FA;
    --off-white: #F3F4F6;
}
/* navigation */
.navigation
{
    background-color: var(--primary-color);
    padding: 1rem;
}
.navigation .nav-title
{
    font-weight: bold;
    color: var(--off-white);
}
.navigation .list
{
    color: var(--off-white)
}